<div class="col-5 mt-3">
  <%= form_with model: [venue, booking] do |f| %>
  <div class="col-5">
    <%= f.label :start_date, "Start date:", class: "form-label fw-bold", value: "#{session[:search_start]}" %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
  <div class="col-5 mt-2">
    <%= f.label :end_date, "End date:", class: "form-label fw-bold" %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
  <%= f.button "Submit", class: "button-blue mt-4" %>
  <% end %>
</div>
