<div class="container">
<div class="row">
<div class="col-6">
  <h1 class="mt-5">Booking details</h1>
  <% if @booking.end_date >= Date.today %>
    <h4 class="my-3">Your booking is confirmed with <%= @booking.venue.name %></h4>
  <% else %>
    <h4 class="my-3">Your booking is completed with <%= @booking.venue.name %></h4>
  <% end %>
  <% delta = distance_of_time_in_words(@booking.end_date,@booking.start_date).to_i  %>
    <p><i class="fa-solid fa-calendar-days me-3"></i>Start: <%= @booking.start_date.strftime("%d %B %Y") %></p>
    <p><i class="fa-solid fa-calendar-days me-3"></i>End: <%= @booking.end_date.strftime("%d %B %Y") %></p>
    <% if delta <= 0 %>
      <p><i class="fa-solid fa-tag me-3"></i>Total: £<%= (@booking.venue.price_per_day).to_i * 1 %></p>
      <p><i class="fa-solid fa-hourglass-half me-3"></i>1 day</p>
    <% else %>
      <p><i class="fa-solid fa-tag me-3"></i>Total: £<%= (@booking.venue.price_per_day).to_i * distance_of_time_in_words(@booking.end_date,@booking.start_date).to_i%></p>
      <p><i class="fa-solid fa-hourglass-half me-3"></i><%= (distance_of_time_in_words(@booking.start_date,@booking.end_date)) %></p>
    <% end %>
    <div class="my-4">
      <% if @booking.end_date >= Date.today %>
      <%= link_to "Edit booking", edit_booking_path(@booking), class: "button-blue" %>
      <%= link_to "Delete booking", booking_path(@booking), data: { turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete your booking?" }, class: "button-blue" %>
      <% end %>
      <%# <%= link_to "Back to all venues", root_path, class: "button-blue" %>
    </div>
  <% if @booking.end_date < Date.today %>
  <h3 id="review" class="mb-4 mt-5">Leave a review</h3>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.button :submit, "Leave a review", class: "button-blue mt-2" %>
    <% end %>
  <% end %>
  </div>
  </div>
</div>
