<div class="container">
  <div class="row mt-5">
      <%= cl_image_tag current_user.avatar.key, class: "avatar-large mb-3" %>
      <p class="mb-0">Welcome back, <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>!</p>
  </div>

  <% if current_user.venues.any? %>
          <h2>My venues</h2>
          <% @venues.each do |venue| %>
          <div class="row my-5">
            <div class="card">
            <%= link_to venue_path(venue) do %>
              <% if venue.photo.attached? %>
                <%= cl_image_tag(venue.photo.key, crop: :thumb, gravity: :face, radius: 5) %>
              <% else %>
                <%= image_tag(venue.pic_url, crop: :thumb, gravity: :face, radius: 5) %>
              <% end %>
            <% end %>
            <div class="card-body .d-flex flex-column">
              <h5 class="card-title"><strong><%= link_to venue.name, venue_path(venue.id), class: "text-dark" %></strong></h5>
              <p class="card-text"><%= venue.location %></p>
            </div>
            </div>
          </div>
          <% end %>
  <% end %>

    <h2>My future bookings</h2>
      <div class="row my-5">
       <% @future_bookings.each do |booking| %>
        <% venue = booking.venue %>
        <div class="card">
            <% if booking.venue.photo.attached? %>
              <%= cl_image_tag(booking.venue.photo.key, crop: :thumb, gravity: :face, radius: 5) %>
            <% else %>
              <%= image_tag(booking.venue.pic_url, crop: :thumb, gravity: :face, radius: 5) %>
            <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, booking_path(booking), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text">Start date: <%= booking.start_date.strftime("%d %B %Y") %> </p>
            <p class="card-text">End date: <%= booking.end_date.strftime("%d %B %Y") %></p>
          </div>
        </div>
      </div>
    <% end %>


    <h2>My previous bookings</h2>
    <% @past_bookings.each do |booking| %>
      <div class="row my-5">
        <% venue = booking.venue %>
        <div class="card">
         <% if booking.venue.photo.attached? %>
          <%= cl_image_tag(booking.venue.photo.key, crop: :thumb, gravity: :face, radius: 5) %>
        <% else %>
         <%= image_tag(booking.venue.pic_url, crop: :thumb, gravity: :face, radius: 5) %>
        <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, booking_path(booking), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text text-muted"><strong>Booking completed on:</strong> <%= booking.end_date.strftime("%d %B %Y") %></p>
          <%= link_to "Leave a review", booking_path(booking, anchor: "review"), class: "btn btn-primary"%>
          </div>
        </div>
    <% end %>
  </div>
</div>
