<div class="container">
    <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
    Welcome back <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>!
    </div>
  </div>
    <div class="row my-5 .d-flex justify-content-center">
      <% @venues.each do |venue| %>
    <h2 class="mt-3">My venues</h2>
      <div class="col-1 my-3">
        <div class="card h-100" style="width: 18rem;">
          <%= link_to venue_path(venue) do %>
            <% if venue.photo.attached? %>
              <%= cl_image_tag(venue.photo.key, width: 287, height: 150, crop: :thumb, gravity: :face, radius: 5) %>
            <% else %>
              <%= image_tag(venue.pic_url, width: 287, height: 150, crop: :thumb, gravity: :face, radius: 5) %>
            <% end %>
          <% end %>
          <div class="card-body .d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, venue_path(venue.id), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text mt-auto"><strong>£<%= venue.price_per_day %></strong> |
            <% if venue.reviews.present? %>
              <% overall_rating = 0 %>
              <% venue.reviews.each do |review| %>
                <% overall_rating += review.rating %>
              <% end %>
              <% sum = overall_rating / venue.reviews.count.to_f %>
              <%= sum.round(1) %>⭐
            <% else %>
              No ratings
            <% end %>
            |
            <% if venue.size_of_band == 1 %>
              <%= venue.size_of_band %> person</p>
            <% else %>
              <%= venue.size_of_band %> people</p>
            <% end %>
            </div>
          </div>
        </div>
       <div class="col-2 "></div>
      <% end %>
    </div>

  <div class="row my-5 .d-flex justify-content-center">
    <% @bookings.each do |booking| %>
      <h2>My bookings</h2>
      <div class="col-1 my-3">
        <% venue = booking.venue %>
        <div class="card h-100" style="width: 18rem;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, booking_path(booking), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text mt-auto"><strong>£<%= venue.price_per_day %></strong> |
            <% if venue.reviews.present? %>
              <% overall_rating = 0 %>
              <% venue.reviews.each do |review| %>
                <% overall_rating += review.rating %>
              <% end %>
              <% sum = overall_rating / venue.reviews.count.to_f %>
              <%= sum.round(1) %>⭐
            <% else %>
              No ratings
            <% end %>
             |
            <%= venue.size_of_band %> people</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
