<div class="container">
  <%= simple_form_for(@venue) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs w-50">
      <%= f.input :name%>
      <%= f.input :price_per_day %>
      <%= f.input :location, input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"},
                  wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%= f.input :size_of_band %>
      <%= f.input :description %>
      <%= f.input :phone_number %>
      <%= f.input :photo, as: :file %>
      <!-- <%= f.input :photos, as: :file, input_html: { multiple: true } %> -->
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">
        <%= f.button :submit, "Sign up", class: "text-white p-0" %>
      </button>
    </div>
  <% end %>
</div>
