<div class="popup">
  <h5><%= venue.name %></h5>
  <p><%= venue.location %></p>
  <p>
    <i class="fa-solid fa-users me-1"></i><%= venue.size_of_band %> |
    <i class="fa-solid fa-tag me-1 ms-1"></i>£<%= venue.price_per_day %> |
    <%= venue.reviews.present? ? "#{average_rating(venue.reviews)}⭐" : "No ratings" %>
  </p>
  <%= link_to "Venue details", venue_path(venue), id: "popup-button" %>
  </div>
