<div class="container">
<h1 class="mt-2">Edit venue</h1>
  <div class="col-2 mt-2">
    <%= form_with model: @venue do |f| %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
      <%= f.label :price_per_day, "Price per day", class: "mt-4" %>
      <%= f.number_field :price_per_day %>
      <%= f.label :location, "Location", class: "mt-4" %>
      <%= f.text_field :location %>
      <%= f.label :size_of_band, "Size of band", class: "mt-4" %>
      <%= f.number_field :size_of_band %>
      <%= f.label :name, "Description", class: "mt-4" %>
      <%= f.text_area :description %>
      <%= f.label :phone_number, "Phone number", class: "mt-4" %>
      <%= f.text_field :phone_number %>
      <%= f.label :photo, "Photo of venue", class: "mt-4" %>
      <%= f.file_field :photo, as: :file %>
      <%= f.submit "Update venue", class: "mt-4" %>
    <% end %>
  </div>
</div>
