<div class="container">
  <%# <form class="d-flex justify-content-center mt-4">
    <div class="row">
      <div class="col-4">
        <div class="mt-4">
          <label for="start" class=""><strong>Start date</strong></label>
          <input class="form-control my-2" id="start" name="start" type="date">
        </div>
        <div class="mt-4">
          <label for="end"><strong>End date</strong></label>
          <input class="form-control my-2" id="end" name="end" type="date">
        </div>
      </div>
      <div class="col-4">
        <div class="mt-4">
          <label for="min-price"><strong>Min price</strong></label>
          <input class="form-control my-2" id="min-price" name="minprice" type="text">
        </div>
        <div class="mt-4">
          <label for="max-price"><strong>Max price</strong></label>
          <input class="form-control my-2" id="max-price" name="maxprice" type="text">
        </div>
      </div>
      <div class="col-4">
        <div class="mt-4">
          <label for="min-members"><strong>Min band members</strong></label>
          <input class="form-control my-2" id="min-members" name="minmembers" type="text">
        </div>
        <div class="mt-4">
          <label for="max-members"><strong>Max band members</strong></label>
          <input class="form-control my-2" id="max-members" name="maxmembers" type="text">
        </div>
      </div>
        <div class="my-3">
          <button class="button-blue" type="submit">Search</button>
        </div>
    </div>
  </form> %>
  <div id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="row d-flex justify-content-center">
    <% @venues.each do |venue| %>
      <div class="card-trip">
        <%= link_to venue_path(venue) do %>
          <% if venue.photo.attached? %>
            <%= cl_image_tag(venue.photo.key) %>
          <% elsif venue.pic_url?%>
            <%= image_tag(venue.pic_url) %>
          <% else %>
            <%= cl_image_tag("n91dnimxrk7oac5lykmw") %>
          <% end %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to venue.name, venue_path(venue.id) %></h2>
            <p><%= venue.location %></p>
            <p id="text-bottom"><i id="people-icon" class="fa-solid fa-users"></i> <%= venue.size_of_band %> people |
            <i id="price-icon" class="fa-solid fa-tag"></i>£<%= venue.price_per_day %> |
            <% if venue.reviews.present? %>
              <% overall_rating = 0 %>
              <% venue.reviews.each do |review| %>
                <% overall_rating += review.rating %>
              <% end %>
              <% sum = overall_rating / venue.reviews.count.to_f %>
              <%= sum.round(1) %>⭐
            <% else %>
                No ratings</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
