<div class="container">
  <div class="row my-5 .d-flex justify-content-center">
    <% @venues.each do |venue| %>
      <div class="col-3 m-2">
        <div class="card h-100" style="width: 18rem;">
        <%= link_to venue_path(venue), target: :_blank do %>
          <%= image_tag "https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", class: "card-img-top" %>
        <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, venue_path(venue.id), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text mt-auto"><strong>£<%= venue.price_per_day %></strong> |
            <% if venue.size_of_band == 1 %>
              <%= venue.size_of_band %> person</p>
            <% else %>
              <%= venue.size_of_band %> people</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
