<div class="container">

  <div class="row">
    <form>
      <label for="start" class="mt-2"><strong>Start date</strong></label>
      <div class="col-2">
        <input class="form-control my-2" id="start" name="start" type="date">
      </div>
      <label for="end"><strong>End date</strong></label>
      <div class="col-2">
        <input class="form-control my-2" id="end" name="end" type="date">
      </div>
      <button class="btn btn-success mt-2" type="submit">Search</button>
    </form>
  </div>


  <div class="row my-5 .d-flex justify-content-center">
    <% @venues.each do |venue| %>
      <div class="col-1 my-3">
        <div class="card h-100" style="width: 18rem;">
        <%= link_to venue_path(venue), target: :_blank do %>
         <%= cl_image_tag(venue.pic_url, width: 287, height: 150, crop: :thumb, gravity: :face) %>
        <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= link_to venue.name, venue_path(venue.id), class: "text-dark" %></strong></h5>
            <p class="card-text"><%= venue.location %></p>
            <p class="card-text mt-auto"><strong>£<%= venue.price_per_day %></strong> |
            <% if venue.size_of_band == 1 %>
              <%= venue.size_of_band %> person</p>
            <% else %>
              <%= venue.size_of_band %> people</p>
            <% end %>
          </div>
        </div>
      </div>
       <div class="col-2 "></div>
    <% end %>
  </div>
</div>
