<div class="container">

  <h1 class="mt-3"><%= @venue.name %></h1>
    <%# <%= cl_image_tag("pgfw7mefk6chajc7bmm6",
      width: 400, height: 300, crop: :fill) %>
    <%= cl_image_tag(@venue.pic_url, width: 400, height: 300, crop: :fill) %>
  <ul>
    <li>Price per day: £<%= @venue.price_per_day %></li>
    <li>Location: <%= @venue.location%></li>
    <% if @venue.size_of_band > 1 %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musicians</li>
    <% else %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musician</li>
    <% end %>
    <li>Description: <%= @venue.description %></li>
  </ul>
  <%= link_to "Back to all venues", root_path %> <br>
  <%= link_to "Book venue", new_venue_booking_path(@venue) %>
  <br><br><br>
  <h3>Reviews</h3>
  <% if @venue.reviews.present? %>
    <% @venue.reviews.each do |venue| %>
    <p><strong><%= venue.rating %> ⭐</strong></p>
    <p><%= venue.comment %></p>
    <% end %>
 <% end %>


</div>
