<div class="container">
  <div class="row">
    <div class="col-6">
    <h1 id="show-header" class="mt-5 mb-4"><%= @venue.name %></h1>
    <div class="mt-3 ms-1 mb-4">
      <% if @venue.photo.attached? %>
        <%= cl_image_tag(@venue.photo.key, width: 287, height: 150, crop: :thumb, gravity: :face, radius: 5) %>
      <% else %>
        <%= image_tag(@venue.pic_url, width: 287, height: 150, crop: :thumb, gravity: :face, radius: 5) %>
      <% end %>
    </div>
    <p><i class="fa-solid fa-tag me-3"></i> £<%= @venue.price_per_day %> per day</p>
    <p><i class="fa-solid fa-location-dot me-3"></i> <%= @venue.location%></p>
    <p><i class="fa-solid fa-users me-2"></i> Up to <%= @venue.size_of_band %></i></p>
    <p><i class="fa-solid fa-circle-info me-3"></i><%= @venue.description %></p>
    <p><i class="fa-solid fa-wheelchair me-3"></i>Wheelchair accessible</p>
    <div class="mt-5">
      <%= link_to "Back to all venues", root_path, class: "button-blue" %>
      <%= link_to "Book venue", new_venue_booking_path(@venue), class: "button-blue" %>
    </div>
    <% if @venue.user == current_user %>
      <button class="btn btn-warning mt-2" type="submit">
        <%= link_to "Edit venue", edit_venue_path(@venue), class: "text-white" %>
      </button>
    <% end %>
    <% if @venue.user == current_user %>
      <button class="btn btn-danger mt-2" type="submit">
        <%= link_to "Delete venue", venue_path(@venue), data: { turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete your venue?" }, class: "text-white" %>
      </button>
    <% end %>
    </div>
    <div class="col-6" id="show-map">
    <div class="mt-5" id="map" style="width: 90%; height: 300px; margin-top: 50px;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
    <h3 class="mt-5">Reviews</h3>
    <% if @venue.reviews.present? %>
      <% @venue.reviews.each do |review| %>
        <p><strong><%= review.rating %>⭐</strong></p>
        <p><%= review.comment %></p>
        <% if current_user == review.booking.user %>
          <button class="btn btn-danger mt-2" type="submit">
            <%= link_to "Delete Review", review_path(review), data: { turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete your review?" }, class: "text-white" %>
          </button>
        <% end %>
      <% end %>
    <% else %>
    <p>There are currently no reviews for this venue.</p>
  <% end %>
</div>
</div>
