<div class="container">
  <h1>Venues#show</h1>
  <p>Find me in app/views/venues/show.html.erb</p>
  <h1><%= @venue.name %></h1>
    <%= cl_image_tag("pgfw7mefk6chajc7bmm6",
      width: 400, height: 300, crop: :fill) %>
  <ul>
    <li>Price per day: £<%= @venue.price_per_day %></li>
    <li>Location: <%= @venue.location%></li>
    <% if @venue.size_of_band > 1 %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musicians</li>
    <% else %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musician</li>
    <% end %>
    <li>Description: <%= @venue.description %></li>
  </ul>
  <%= link_to "Back to all Venues", root_path %>
</div>