<div class="container">

  <h1><%= @venue.name %></h1>
  <div class="container my-3">
    <%= cl_image_tag(@venue.pic_url, width: 287, height: 150, crop: :thumb, gravity: :face) %>
  </div>
  <ul>
    <li>Price per day: £<%= @venue.price_per_day %></li>
    <li>Location: <%= @venue.location%></li>
    <% if @venue.size_of_band > 1 %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musicians</li>
    <% else %>
      <li>Size of band: <%= @venue.size_of_band %> lovely musician</li>
    <% end %>
    <li>Description: <%= @venue.description %></li>
  </ul>

   <button class="btn btn-info mt-2" type="submit"><%= link_to "Back to all Venues", root_path %></button>
   <br>
   <button class="btn btn-success mt-2" type="submit"><%= link_to "Book Venue", new_venue_booking_path(@venue) %></button>
</div>
